<div class="chat-container" id="chat-container">
    <div class="inbox">
      <h5>Chat</h5>
      <div class="inbox__messages">
        <div class="messages__history"></div>
        <div class="fallback"></div>
      </div>
    </div>
    <hr>
    <form class="message_form">
      <input type="text" class="message_form__input" placeholder="Type a message" />
    </form>
</div>