<div class="container">
    <div class="inbox">
      <div class="inbox__people">
        <h4>Active users</h4>
      </div>
      <div class="inbox__messages">
        <ul class="messages__history"></ul>
        <div class="fallback"></div>
      </div>
    </div>

    <form class="message_form">
      <input type="text" class="message_form__input" placeholder="Type a message" />
      <button class="message_form__button" type="submit">
        Enter
      </button>
    </form>
  </div>