<h1 class="room-message"></h1>
    <div class="window">
        <div class="chat-message">
            <div id="output"></div>
            <div id="feedback"></div>
        </div>
        <div class='fields'>
            <input type="text" id="message" placeholder="Enter message">
            <button id="send">Send</button>
        </div>
    </div>
    <div class="online">
        <p class="users-online">Users Online</p>
        <div class="users">
        </div>
    </div>