<div class="site-identity">
  <div class="logo">
    <a href="#"><img src="assets/circle.png" alt="Site Name" /></a>
  </div>
  <div class = "name">
    <h3><a> Circle </a></h3>
  </div>
  <div class="boxed">
        <h4><b>Circle Meeting</b></h4>
        <p>Bring your circle closer with Circle</p>   
  </div>
</div> 