
<div class="site-identity">
    <a href="#"><img src="assets/circle.png" alt="Site Name" /></a>
    <h1><a> Circle </a></h1>
    <div class="boxed">
        <h2>Circle Meeting</h2>
        <p>Bring your circle closer with circle</p>   
      </div>
</div>  
    
 