<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/head.ejs'); -%>
</head>
<body>
    <div class="index-content">
        <div class="main-box">
            <div class="site-identity">
                <div class = "name">
                    <img src="../assets/Circle.png" alt="Circle"/>
                </div>
            </div>
            <div class="box">
            <form action="/room" method="POST" class="index-form">
                <input type="text" placeholder="Enter your Name" class="username" name="username" autocomplete="off" required>
                <input type="text" placeholder="Enter Room Name" class="roomname" name="roomname" autocomplete="off" required>
                <input type="submit" value="Enter">
            </form>
            </div>
        </div>
    </div>
</body>
</html>