<!DOCTYPE html>
<html lang="en">
<head>
	<%- include ('partials/head.ejs'); -%>
    <meta name="google-signin-client_id" content="36522074585-bs3s7dt60b20l7na8pmp2r2dekh2smfo.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <link rel="stylesheet" href="css/login.css">
    <title>Login</title>
</head>
<body>
    <header class="site-header">
        <div class="site-identity">
            <div class="logo">
              <a href="#"><img src="assets/circle.png" alt="Site Name" /></a>
            </div>
            <div class="boxed">
              <div class = "name">
                  
                </div>
                <div class="g-signin2" data-onsuccess="onSignIn" style="padding-top: 10px;"></div>
            </div>
          </div> 
    </header>
    <div class="welcome">
        <div class="welcome-img"><img src="assets/welcome.png" alt="welcome" /></div>
        <h3>Video call anyone anywhere for free.</h3>
    </div>
    <div class="welcome">
      <div class="welcome-img"><img src="assets/chat.png" alt="chat" /></div>
      <h3>Chat and share screen within your circle</h3>
  </div>
    <script>
      function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
    console.log('User signed out.');
    });
}

function onSignIn(googleUser) {
    console.log("Yes")
    var profile = googleUser.getBasicProfile();
    var id_token = googleUser.getAuthResponse().id_token;
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/login');
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.onload = function() {
        console.log('Signed in as: ' + xhr.responseText);
        if(xhr.responseText == 'success'){
            signOut();
            location.assign('/index')
        }
    };
    xhr.send(JSON.stringify({token : id_token}));
  }
    </script>
</body>
</html>