<!DOCTYPE html>
<html lang="en">
<head>
	<%- include ('partials/head.ejs'); -%>
    <meta name="google-signin-client_id" content="36522074585-bs3s7dt60b20l7na8pmp2r2dekh2smfo.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <link rel="stylesheet" href="css/login.css">
    <title>Login</title>
</head>
<body>
    <header class="site-header">
        <div class="site-identity">
            <div class="logo">
              <a href="#"><img src="assets/circle.png" alt="Site Name" /></a>
            </div>
            <div class="boxed">
              <div class = "name">
                  
                </div>
                <div class="g-signin2" data-onsuccess="onSignIn" style="padding-top: 10px;"></div>
            </div>
          </div> 
    </header>
    <div class="welcome">
        <div class="welcome-img"><img src="assets/welcome.png" alt="welcome" /></div>
        <h4>Video call anyone anywhere for free.</h4>
    </div>
    <div class="welcome">
      <div class="welcome-img"><img src="assets/chat.png" alt="chat" /></div>
      <h4>Chat and share screen within your circle</h4>
  </div>
  <div class="footer">
    <p class="love">Made with <i class="bi bi-heart-fill"></i> by Rochisha</p>
  </div>
    <script src="auth.js"> </script>
</body>
</html>