.attendee-container {
  background-color: white;
  border-radius: 20px;
  flex-direction: column;
  height: 100vh;
  display: none;
  flex: 0.2;
  padding: 10px;
}

.online h5 {
  padding: 5px;
}

.users {
  padding: 5px;
  font-size: 15px;
}
