.container {
    background-color: white;
    border-radius: 20px;
    height: 100vh;
    padding: 5px;
}

.message__history {
    padding: 5px;
}

.outgoing__message {
    background-color: rgb(169, 236, 210);
    border-radius: 19px;
    padding: 5px;
    max-width: 50%;

}

.incoming__message {
    background-color: rgb(239, 245, 248);
    border-radius: 19px;
    padding: 5px;
    max-width: 75%;
    
}

.received__message, .sent__message {
    font-size: small;
}

.message__author {
    font-size: x-small;
    text-align: left;
}

.time_date {
    font-size: x-small;
    text-align: right;
}

.message_form {
    padding: 22px 12px;
    display: flex;
}

.message_form__input {
    flex-grow: 1;
    border: none;
}
