.chat-container {
  background-color: white;
  border-radius: 20px;
  flex-direction: column;
  height: 100vh;
  display: none;
  flex: 0.2;
  padding: 10px;
}

.inbox {
  flex-grow: 1;
  overflow-y: auto;
}

.message__history {
  padding: 5px;
}

.sent__message p {
  background-color: rgb(169, 236, 210);
  border-radius: 10px;
  padding: 5px;
  max-width: 50%;
  margin: 2px;
  margin-right: 0;
  font-family: Verdana;
}

.received__message p {
  background-color: rgb(239, 245, 248);
  border-radius: 10px;
  padding: 5px;
  max-width: 75%;
  margin: 0;
  font-family: Verdana;
}

.received__message,
.sent__message {
  font-size: small;
}

.message__author {
  font-size: x-small;
  text-align: left;
  color: rgb(107, 106, 106);
  padding-right: 5px;
  font-family: Verdana;
}

.time_date {
  font-size: xx-small;
  text-align: right;
  padding-right: 5px;
  color: rgb(179, 178, 178);
}

.message_form {
  display: flex;
}

.message_form__input {
  flex-grow: 1;
  border: none;
  outline: none;
  display: flex;
  padding: 22px 12px;
}
