video{
    height: 300px;
    width: 350px;
    object-fit: cover;
    padding: 8px;
    border-radius: 20px;
 }

body {
    padding: 15px;
    margin: 0;
    background-color: rgb(239, 245, 248);
}

.dashboard {
    display: flex;
}

.dashboard-left {
    flex: 0.8;
    display: flex;
    flex-direction: column;
}

.videos{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat {
    flex: 0.2;
    padding: 5px;
}

 .controls {
    padding: 5px;
    background-color: rgb(239, 245, 248);
    border-radius: 20px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.button {
  background-color: white; 
  margin: 7px;
  border: none;
  color: black;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.wrapper {
    display: inline-block;
}

.button__name {
    text-align: center;
    color: rgb(82, 82, 82);
    font-size: smaller;
    font-family: Verdana;
}