
  a {
    text-decoration: none;
    font-family: 'Fredoka One', cursive;
    color: #000;
  }

  .site-header { 
    padding: .5em 0em;
  }
  
  .site-header::after {
    content: "";
    display: table;
    clear: both;
  }
  
  .site-identity {
    float: left;
  }
  
  .site-identity h1 {
    font-size: 1.8em;
    margin: .7em 0 .3em 0;
    display: inline-block;
    padding-right: 20px;
  }
  
  .site-identity img {
    max-width: 75px;
    height: 75px;
    float: left;
    margin: 0 10px 0 0;
  }

  .boxed {
    border-radius: 10px;
    padding-bottom: 5px;
    display: inline-block;
    background-color: rgb(239, 245, 248);
    width: 1100px;
    height: 75px;
  }

  .boxed h2 {
    font-size: 1.1em;
    margin: 1em 0 0 0;
    padding-left: 15px;
    padding-bottom: 2px;
  }

  .boxed p {
    font-size: 0.8 em;
    padding-left: 15px;
    color: grey;
  }